@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
html,
body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.animated-background {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(270deg, #4299e1, #48bb78, #4299e1);
  background-size: 600% 600%;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.chart-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}

svg {
  font: 20px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: orange;
}

.axis text {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}
#d3-genres-chart {
  background-color: transparent;
}
.tooltip {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  pointer-events: none;
}
.time-range-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.chart-container .bar text {
  font-weight: bold;
}

.time-range-controls select {
  font-weight: bold;
  color: black;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
}

.dropdown {
  font-weight: bold;
}
.artist-leaderboard ul {
  list-style-type: none;
  padding: 0;
}

.artist-leaderboard li {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.4;
}
